<header><%- include("hadder.ejs")%></header>

<div class="card text-center">
    <div class="card-body">
        <!-- <h3 class="card-title text-primary">Habit Tracker App</h3> -->
        <div id="title-name" class=" card-title text-primary">
            <span style="font-size:2.5rem; color: purple;">H</span>
            <span style="font-size:2.5rem; color: purple;">a</span>
            <span style="font-size:2.5rem; color: purple;">b</span>
            <span style="font-size:2.5rem; color: purple;">i</span>
            <span style="font-size:2.5rem; color: purple; margin-right: 1.1rem;">t</span>
            <span style="font-size:2.5rem; color: purple;">T</span>
            <span style="font-size:2.5rem; color: purple;">r</span>
            <span style="font-size:2.5rem; color: purple;">a</span>
            <span style="font-size:2.5rem; color: purple;">c</span>
            <span style="font-size:2.5rem; color: purple;">k</span>
            <span style="font-size:2.5rem; color: purple;">e</span>
            <span style="font-size:2.5rem; color: purple; margin-right: 1.1rem;">r</span>
            <span style="font-size:2.5rem; color: purple;">A</span>
            <span style="font-size:2.5rem; color: purple;">p</span>
            <span style="font-size:2.5rem; color: purple;">p</span>
        </div>
        <a href="/habit/dashboard" class="btn btn-lg btn-outline-primary">Open Dashboard</a>
    </div>
</div>